<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>ALL USERS</title>
</head>
<body>

<!--ШАПКА ФОРМЫ-->
<div class="navbar navbar-expand-md navbar-fixed-top navbar-light bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">

            <!--            Не работает отображение залогининного пользователя-->
            <a class="navbar-brand font-weight-bold bg-dark text-white" th:text="${user.getUsername()}">VALUE</a>
            <a class="navbar-brand font-weight-bold bg-dark text-white" th:text="${user.getLastName()}">VALUE</a>
            <a class="navbar-brand bg-dark text-white"> with roles: </a>
            <a class="navbar-brand bg-dark text-white" th:text="${user.getRoles()}"></a>
        </ul>


        <!--Кнопка logout-->
        <form th:method="POST" th:action="@{/logout}">
            <input type="submit" value="Logout" class="btn btn-dark"/>
        </form>
    </div>
</div>

</br>

<!--Боковая панель-->

<!--Разделение экрана на ряды: боковая панель карточек и панель с информация хранящаяся в боковой панеле-->
<div class="row">

    <!--Боковая панель карточeк-->
    <div class="col-md-1 bg-white">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#AllUsersTable">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#UserAutorize">User</a>
            </li>
        </ul>
    </div>
    <!--///-->


    <!--    выделяем ряды под панель с отображаемой информацией в боковых карточках-->
    <div class="col-md-11">
        <div class="tab-content">


            <!--        !!!!!! Пропустил активацию карточки админа кажется  !!!!!!!!!!!!!!!!!!!!!!-->

            <!-- Вертикальные Карточки с Панелью с таблицeй пользователей или созданием нового юзера Admin panel-->


            <!--        Вертикальная карточка User table от боковые карточки Admin-->
            <div class="tab-pane fade show active" id="AllUsersTable">
                <!--  Не сделана или не работает Активация боковой карточки Admin or User  <div class="tab-pane fade show active" id="AllUsersTable">-->

                <!--оБЪЯВЛЕНИЕ КАРТОЧЕК-->

                <h1>Admin panel</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#UsersTable">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#NewUser">New User</a>
                    </li>
                </ul>


                <!--       Заполнение Карточки ALL users и New user!!!!!!!!!//////////</a>-->
                <div class="tab-content">
                    <!--       Карточка ALL users!!!!!!!!!//////////</a>-->
                    <div class="tab-pane fade show active" id="UsersTable">
                        <div class="card">
                            <h3 class="card-header">All users</h3>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Last Name</th>
                                    <th>Password</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user, state : ${people}">
                                    <td th:utext="${state.count}">No</td>
                                    <td th:utext="${user.username}">Name</td>
                                    <td th:utext="${user.lastName}">Last Name</td>
                                    <td th:utext="${user.password}">password</td>
                                    <td th:text="${user.getRoles()}"></td>
                                    <!--                <td><a th:href="@{/admin/{id}(id=${user.getId()})}">Show data</a></td>-->


                                    <!--//////////////////////////////////////////////////////////////////////////-->
                                    <!--                            кНОПка редактирования-->
                                    <td>
                                        <button type="button" th:href="@{/admin/{id}(id=${user.getId()})}"
                                                class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModalEdit">
                                            Edit
                                        </button>
                                        <!--                    <a  th:href="@{/admin/{id}(id=${user.getId()})}" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalEdit">Edit</a>-->
                                        <!--                    <a th:href="@{/admin/{id}(id=${user.getId()})}">Show data</a>-->
                                    </td>

                                    <!--Модальное окно редактирования Тестовый режим-->
                                    <div class="modal fade" id="exampleModalEdit" th:attrappend="id=${user.id}"
                                         tabindex="-1" role="dialog" aria-labelledby="exampleModalEdit"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <!--+++++++-->



                                                <div class="modal-body">

                                                    <h1 class="text-lg-center">ID</h1>

                                                    <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

                                                        <div class="form-group">
                                                            <label th:for="id">ID</label>
                                                            <input class="form-control" type="text" id="id" th:value="*{id}" disabled>
                                                        </div>

                                                        <div class="form-group">
                                                            <label th:for="userName">Name</label>
                                                            <input type="text" class="form-control" id="userName" placeholder="input name">
                                                        </div>

                                                        <div class="form-group">
                                                            <label th:for="lastName">Last name</label>
                                                            <input type="text" class="form-control" id="lastName"
                                                                   placeholder="input last name">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput">Password</label>
                                                            <input type="text" class="form-control"
                                                                   id="formGroupExampleInput"
                                                                   placeholder="Example input">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput2">Role</label>
                                                            <select id="disabledSelect" class="form-control">
                                                                <option>Admin</option>
                                                                <option>User</option>
                                                            </select>
                                                        </div>

                                                    </form>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary">Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--                            Тест кнопка Edit2Test-->
                                    <td>
                                        <a class="btn btn-info" role="button" data-toggle="modal"
                                           data-target="#modalEditTest2"
                                           th:attrappend="data-target=${user.id}">Edit2Test11</a>
                                    </td>
                                    <!--                            <button type="button" th:href="@{/admin/{id}(id=${user.getId()})}"-->
                                    <!--                                    class="btn btn-primary" data-toggle="modal" data-target="#exampleModalEdit">Edit-->
                                    <!--                            </button>-->


                                    <!--Окно для редактирования юзера (начало)-->
                                    <div class="modal fade" id="modalEditTest2" th:attrappend="id=${user.id}"
                                         tabindex="-1" role="dialog"
                                         aria-labelledby="TitleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit user</h5>
                                                    <button type="button" class="close"
                                                            data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body offset-sm-4 text-center">
                                                    <form class="row g-3" th:method="PATCH"
                                                          th:action="@{/admin/{id}(id=${user.getId()})}"
                                                          th:object="${user}">
                                                        <div class="row">
                                                            <div class="form-group col-xs-12">
                                                                <div class="control-group required">
                                                                    <div class="controls">
                                                                        <label for="id"
                                                                               class="font-weight-bold">ID<input
                                                                                class="form-control"
                                                                                type="text" id="id"
                                                                                th:value="*{id}"
                                                                                disabled></label>
                                                                        <h1></h1>
                                                                        <label th:for="name"
                                                                               class="font-weight-bold">Name<input
                                                                                class="form-control"
                                                                                type="text"
                                                                                name="firstName"
                                                                                th:value="*{username}"
                                                                                required></label>
                                                                        <h1></h1>
                                                                        <label th:for="lastName"
                                                                               class="font-weight-bold">Last
                                                                            Name<input
                                                                                    class="form-control"
                                                                                    type="text"
                                                                                    name="lastName"
                                                                                    th:value="*{lastName}"
                                                                                    required></label>


                                                                        <h1></h1>
                                                                        <label th:for="password"
                                                                               class="font-weight-bold">Password<input
                                                                                class="form-control"
                                                                                type="password"
                                                                                name="password"
                                                                                th:value="*{password}"
                                                                                required></label>
                                                                        <h1></h1>
                                                                        <label class="font-weight-bold">Role</label>
                                                                        <div>
                                                                            <select class="form-control"
                                                                                    name="roles"
                                                                                    multiple size="2">
                                                                                <div th:each="role : ${roles}">
                                                                                    <option th:text="${role.getRole()}"
                                                                                            th:value="${role.getRole()}"
                                                                                            name="roles"/>
                                                                                </div>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body offset-sm-5">
                                                            <button type="button"
                                                                    class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit"
                                                                    class="btn btn-primary">Edit
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Окно для редактирования юзера (конец)-->


                                    <!--                            Кнопка Delete-->
                                    <td>
                                        <button type="button" href="#" class="btn btn-danger" data-toggle="modal"
                                                data-target="#exampleModalDelete">Delete
                                        </button>
                                    </td>

                                    <td><a class="btn btn-primary eBtn">Edit2Test</a></td>

                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                    <!--       Карточка New user!!!!!!!!//////////-->

                    <div class="tab-pane fade " id="NewUser">
                        <div class="card">
                            <h3 class="card-header">New user</h3>
                            <br/>
                            <br/>
                            <form th:marginwidth="auto" th:method="POST" th:action="@{/admin}" th:object="${user}">
                                <div>
                                    <label for="username">Enter username: </label>
                                    <input type="text" th:field="*{username}" id="username"/>
                                </div>
                                <br/>

                                <div>
                                    <label for="lastName">Enter Last name: </label>
                                    <input type="text" th:field="*{lastName}" id="lastName"/>
                                </div>
                                <br/>

                                <div>
                                    <label for="password">Enter password: </label>
                                    <input type="text" th:field="*{password}" id="password"/>
                                </div>
                                <br/>

                                <div>
                                    <input type="checkbox" th:name="roles" th:value="ROLE_USER"/> USER
                                    <input type="checkbox" th:name="roles" th:value="ROLE_ADMIN"/> ADMIN
                                </div>
                                <br/>
                                <div>
                                    <input type="submit" value="Create"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--            //Заканчиваем работу с окнами в боковой колонке Admin-->
            </div>   <!-- ???????-->


            <!--    //боковая карточка User-User information pages About user)-->
            <div class="tab-pane fade" id="UserAutorize">

                <div class="card">
                    <h2 class="h2">User information-page</h2>
                    <h3 class="card-header">About user</h3>
                    <div class="card-body text-center">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getUsername()}"></td>
                                <td th:text="${user.getLastName()}"></td>
                                <td th:utext="${user.rolesToString()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



        </hr>
        </br>

        <!--Модальное окно удаления Тестовый режим-->
        <div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalDelete"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <form>
                            <fieldset disabled="">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">ID</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                           placeholder="Example input">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">First name</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                           placeholder="Example input">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput2">Last name</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput2"
                                           placeholder="Another input">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Password</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                           placeholder="Example input">
                                </div>

                                <div class="form-group">
                                    <label for="formGroupExampleInput2">Role</label>
                                    <select id="disabledSelect" class="form-control">
                                        <option>Admin</option>
                                        <option>User</option>
                                    </select>
                                </div>

                            </fieldset>
                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger">Delete</button>

                            <form th:method="DELETE" th:action="@{/admin/{id}/(id=${user.getId()})}">
                                <input type="submit" value="DELETE"/>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br/>
        <hr/>
        <a href="/admin/new">Create new person</a>

        <hr/>


        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>-->

        <!-- Option 2: Separate Popper and Bootstrap JS -->

        <!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>-->


        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
                crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->

        <!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>-->

</body>
</html>